/*-------------------------
   Info Display Styles
--------------------------*/


.infoDiv
{
   font-size: 12px;
   font-weight: bold;
   display: inline-block;
   background-color: #d8d8d8;
   border: 1px solid green;
   padding: 0px 0px 0px 0px;
   margin: 2px;
}

.infoDiv td
{
   font-size: 12px;
   background-color: #d8d8d8;
   border: 1px dashed yellow;
   padding: 2px 2px 2px 2px;
}




