/*-----------------------------
   Region Stat Display Styles
------------------------------*/

.statsDiv 
{
    background-color: #d8d8d8; 
    border: 1px solid green; 
    width: 500px;
    height: 310px;
    padding: 5px;
}

.stat    
{
    padding: 0px; 
    border:0px; 
    font: 8px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.stat th 
{
    background-color: #808080; 
    color: #ffff50; 
    font-size: 11px; 
    text-align: center;
}

.stat td 
{
    background-color: #ffffff; 
    color: #000000; 
    border: 1px solid blue;
    width:  45px; 
    font-size: 12px; 
    padding: 3px 4px 2px 7px; 
    text-align: right;
}

.substat    
{
    padding: 0px; 
    border:0px; 
    font: 8px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.substat td 
{
    background-color: #f0f0f0; 
    color: #000000; 
    border: 1px solid blue;
    width:  45px; 
    font-size: 12px; 
    white-space: nowrap; 
    padding: 1px 2px 1px 3px;
}

.rsPlaneSelect 
{
   text-align: center; 
   display: inline-block;
   width: 99%;
   overflow: hidden;
   padding: 6px;
   margin: 0px;
   border: 1px dashed red;
}

