/*---------------------------
   Zoom/Pan Control Styles
----------------------------*/


.panelDiv
{
    display: inline-block;
    background-color: #d8d8d8;
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    padding: 8px;
    margin: 6px 3px 3px 3px;
    box-shadow: 2px 3px 2px #404040;
    float: none;
}

.zoomDiv
{
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    background-color: #bfbfbf;
    border: 1px solid green;
    padding: 0px 0px 0px 0px;
    margin: 2px;
}

.zoomDiv td
{
    font-size: 12px;
    background-color: #bfbfbf;
    border: 1px dashed yellow;
    padding: 0px;
}

.zoomDiv button
{
   width: 39px;
   height: 39px;
   padding: 1px 1px 0px 0px;
}

.controlPanel
{
    background-color: #bfbfbf;
    border: 1px dashed yellow;
    border-radius: 10px;
    padding: 5px;
}


