/*-------------------------
   Info Display Styles
--------------------------*/


.infoDiv
{
   font-size: 12px;
   font-weight: bold;
   display: inline-block;
   background-color: white;
   border: 1px solid black;
   padding: 0px 0px 0px 0px;
   margin: 2px;
}

.infoDiv td
{
   font-size: 12px;
   background-color: white;
   border: 1px solid blue;
   padding: 2px 2px 2px 2px;
}




