/*----------------------------------*/
/*   Color Stretch Control Styles   */
/*----------------------------------*/

.StretchDiv
{
	padding: 0px;
}

.stretchDiv
{
	background-color: #d8d8d8;
	border:  0px solid green;
	margin:  2px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
}

.fieldset
{
	border-radius: 10px;
	border:  0px;
	margin:  0px;
	padding: 0px;
	display: inline-block;
}

.legend
{
	color: #000000;
	font-size:18px;
}

.littleLabel
{
	color:   #000000;
	padding: 4px;
	text-align:  left;
	font-size:   12px;
	font-weight: bold;
}

.sliderSet
{
	border: 2px solid #e0e0e0;
	border-radius: 20px;
	box-shadow: 2px 3px 2px #404040;
	margin:  0px;
	padding: 0px;
	display: inline-block;
}

.sliderTable
{
	padding: 10px 0px 10px 0px;
}

.sliderTable td
{
	padding:  0px 4px 0px 4px;
	overflow: visible;
}

.dataVals
{
	background-color: white;
	color:  black;
	border: 1px solid black;
	font: 8px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.dataVals tr
{
	border: 0px solid red;
}

.dataVals th
{
	background-color: #808080; 
	color: #ffff50; 
	text-align: center; 
	font-size: 11px;  
}

.dataVals td
{
	border:  1px solid #606060;
	padding: 3px;
	font-size: 12px;
}

.dataVals .highlight
{
	background-color: #e0e0ff;
	font-size: 12px;
}

.sliderVal
{
	width: 50px;
	font-size: 12px;
}

.colorPlane
{
	width: 100%
}

.colorTbl
{
	width: 100%
}

.minValue
{
	font-size: 12px;
}

.maxValue
{
	font-size: 12px;
}

.minUnits
{
	font-size: 12px;
}

.maxUnits
{
	font-size: 12px;
}
