/*-------------------------------*/
/*   FITS Header Viewer Styles   */
/*-------------------------------*/

.fitsBody 
{
	background-color: #d8d8d8;
	border:  1px solid #808080;
	display: inline-block;
	padding: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:   18px;
	font-style:  normal;
	font-weight: normal;
}

.titleLine 
{
	vertical-align: middle;
}

.fitsHdrDiv 
{
	background-color: #d8d8d8;
}

.hdrDiv
{
	background-color: #d8d8d8;
}

.planeSelect 
{
	border:  0px dashed red;
	margin:  0px;
	padding: 5px;
	display: inline-block;
	height: 20px;
	width: 610px;
	overflow: hidden;
}

.displayTable 
{
	border:  0px dashed yellow;
	display: inline-block;
	margin:  0px;
	padding: 0px;
	height: 630px;
	width:  610px;
	overflow: hidden;
}

.displayTable tbody, 
.displayTable tr, 
.displayTable td
{
	margin: 0px;
	width:  610px;
	text-align: left;
}


.hdrContainer 
{
	border:  0px solid green;
	margin:  0px;
	padding: 5px;
	display: inline-block;
	height: 600px;
	width:  610px;
	overflow-y: hidden;
}

.fitsHdr 
{
	border:  1px solid black;
	display: inline-block;
	padding: 5px;
	height: auto;
	width:  auto;
	overflow-y: scroll;
}

.fitsOdd 
{
	background-color: #f0f8ff;
	margin: 0px 0px 0px 0px;
	font:  12px courier,sans-serif;
}

.fitsEven 
{
	background-color: #ffffff;
	margin: 0px 0px 0px 0px;
	font:  12px courier,sans-serif;
}

.fitsOddWCS 
{
	background-color: #f0f8e8;
	color:  #0000a0;
	margin: 0px 0px 0px 0px;
	font:  12px courier,sans-serif;
}

.fitsEvenWCS 
{
	background-color: #ffffe8;
	color:  #0000a0;
	margin: 0px 0px 0px 0px;
	font:  12px courier,sans-serif;
}

.fitsOddCOM 
{
	background-color:#f0f8ff;
	color:  #a00000;
	margin: 0px 0px 0px 0px;
	font:  12px courier,sans-serif;
}

.fitsEvenCOM 
{
	background-color:#ffffff;
	color:  #a00000;
	margin: 0px 0px 0px 0px;
	font:  12px courier,sans-serif;
}
