/*-------------------------*/
/*   Info Display Styles   */
/*-------------------------*/

.infoDiv
{

	background-color: white;
	border:  1px solid black;
	margin:  2px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	font-size:   12px;
	font-weight: bold;
}

.infoDiv td
{
	background-color: white;
	border:  1px solid #606060;
	padding: 4px;
	font-size: 12px;
}




