/*--------------------------*/
/*   Layer Control Styles   */
/*--------------------------*/

#overlay
{
	padding: 0px 0px 4px 0px;
	max-height: 800px !important;
	overflow-x: hidden;
	overflow-y: hidden;
}

#layerset
{
	max-height: 745px !important;
	overflow-x: hidden;
	overflow-y: scroll;
}

.layerDiv
{ 
	background-color: #d8d8d8;
	border: 0px solid green;
	margin: 4px;
	/* overflow-x: hidden; */
	/* overflow-y: scroll; */ 
}

.overlayTbl    
{ 
	border:  0px; 
	padding: 0px; 
	font: 8px "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.overlayTbl td 
{ 
	border:  1px solid #606060; 
	padding: 1px 3px; 
}

.overlayTbl th 
{ 
	background-color: #808080; 
	color:   #ffff50; 
	border:  0px solid #606060;    
	padding: 1px 3px; 
	text-align: center; 
	font-size:  11px;  
}

.ovlyCellTbl    
{ 
	border:  0px; 
	padding: 0px; 
}

.ovlyCellTbl td 
{ 
	background-color: #d8d8d8;
	border:  1px solid #808080; 
	margin:  0px;
	padding: 0px 2px;
	height:  20px;
	text-align: left;
	font: 12px "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.ovlyhd      
{ 
	background-color: #808080; 
	color:  #ffff50; 
	border: 0px solid #606060 !important;
	text-align: center; 
	font: 11px "Helvetica Neue",Helvetica,Arial,sans-serif; 
	font-weight: bold;
}

.ovlyhdSmall
{ 
	background-color: #808080; 
	color:  #ffff50; 
	border: 0px solid #606060 !important;
	text-align: center; 
	font-size:  8px; 
	font-style: bold;
}

.dragOff
{ 
	background-color: #eeffee; 
	color: #000000; 
	width: 22px; 
}

.drag   
{ 
	background-color: #00ff00; 
	color: #000000; 
	width: 22px; 
}

.showOff
{ 
	background-color: #dddddd; 
	color: #000000; 
	width: 21px; 
}

.showLayer  
{ 
	background-color: #c0c0c0; 
	color:  #000000; 
	margin: 0px !important; 
	height: 30px;
	width:  30px; 
}

.type   
{ 
	background-color: #eeffee; 
	color:  #000000; 
	width:  45px; 
	font-size:   11px;
	font-weight: bold;
}

.source 
{ 
	background-color: #eeeeff; 
	color: #000000; 
	width: 140px; 
	text-align: left;
	font-size:  12px; 
}

.symbol 
{ 
	background-color: #ffffee; 
	color: #000000; 
	width: 90px; 
	font-size: 12px; 
}

.scale  
{ 
	background-color: #eeffff; 
	color: #000000; 
	width: 100px; 
	font-size: 12px; 
}

.color  
{ 
	background-color: #ffffff; 
	color: #000000; 
	width: 52px; 
	font-size: 12px; 
}

.delete 
{ 
	background-color: #ff8080; 
	color: #000000; 
	width: 18px; 
	font-size: 12px; 
}

.delOff 
{ 
	background-color: #ffeeee; 
	color: #000000; 
	width: 18px; 
	font-size: 12px; 
}

.delBtn 
{ 
	height: 5px; 
	width:  5px; 
}

.ovSelect 
{ 
	margin:  0px; 
	padding: 0px; 
	height:  auto;
	width:   100%;
}

.ovInput  
{ 
	font-size: 8px; 
}

.updateBtn  
{
	background-color: #bfbfbf;
	border: 0px dashed red;
	margin: 2px;
	height: 25px;
	width:  80%; 
	font-style:bold;
}
