/*--------------------*/
/*   General Styles   */
/*--------------------*/


/* Basic Elements */

body 
{
	background-color: #000000; 
	margin:  0px;
	padding: 0px;
	outline: 0px;
	overflow: hidden;
	font-family: "Arial",sans-serif;
	font-size: 14px;
}

div 
{
	margin:  0px;
	padding: 0px;
	display: inline-block;
	float: left;
} 

table
{
	border:  0px dashed #aaaaaa;
	padding: 0px;
	margin:  0px; 
	table-layout: fixed;
}

tr
{ 
	border:  0px dashed yellow;
	margin:  0px;
	padding: 0px;
	overflow: hidden;
}

td
{
	border:  0px dashed yellow;
	margin:  0px;
	padding: 0px;
	height: 32px;
	width:  32px;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
}

button
{
	background-color: #bfbfbf;
	padding: 2px 0px 0px 0px;
	height: auto;
	font-weight: bold;
	white-space: nowrap;
}

a:link, a:visited, a:active
{
	color: #fff;
}


/* Primary Divs */

#header
{
	background-image:  url('banner02.gif');
	background-size:   100%;
	background-repeat: no-repeat;
	background-color:  black;
	color: yellow;
	text-align: center;
	/* border: 1px solid magenta; */
}

#infoArea 
{
	background-color: #d8d8d8;
	padding: 0px;
	text-align: left;
	/* border: 1px solid magenta; */
}

#imgArea
{
	background-color: #dddddd;
	text-align: center;
	/* border: 1px solid magenta; */
}

#footer 
{
	background-color: #bfbfbf;
	height: auto;
	text-align: center;
	/* border: 1px solid magenta; */
}


/*

#attribution
{
	color: #ffff00;
}

*/


/* "Current Pick" Area Styles */

#currentPick
{
	display:  inline-block;
	position: relative;
	float: none;
	height: 82px;
}

#currentPick td
{
	height: 14px;
	font-size: 13px;
}

#currentPickX, #currentPickY
{
	background-color: white;
	border: 1px solid #606060;    
}

.currentPickTable
{
	background-color: #d8d8d8;
	border: 0px;
	border-radius: 8px;
	padding: 8px;
	margin:  4px 2px;
	box-shadow: 2px 3px 2px #404040;
	width: 200px;
}
.currentPickTable th 
{
	background-color: #808080; 
	color: #000000; 
	margin: 1px;
	text-align: center;
	font-size: 14px; 
}

.currentPickTable td
{
	background-color: #bfbfbf;
	font-size: 14px; 
}

 
/* Menu Bar Styles */

#menubar-wrapper 
{
	background-color: #1d4a5d;
	/* color: #fff;*/
	margin:  0px auto;
	clear:   both;
	display: block;
	width: 100%;
	text-transform: uppercase;
}

.menu 
{
	float: left;
}

.menu ul 
{
	z-index: 100;
	margin:  0px;
	padding: 0px;
	list-style-type: none;
}

.menu ul li 
{
	display:  inline;
	position: relative;
	float: left;
}


.menu ul li a 
{
	padding: 5px 10px;
	display: block;
	text-decoration: none;
}

.menu ul li a.selected        /* Class dynamically added to the currently- */
{                      /* active menu items' LI A element           */
	background: #888;
	color: #fff;
}

.menubar ul li a:hover 
{
	background: #5e88bf;
	color: #5e88bf;
}

.menu ul li a:hover {
    color: #fcff00;
    background: #414141 none repeat scroll 0% 0%;
}

/*
.menubar ul li a:link, .menubar ul li a:visited, .menu ul li a:visited 
{ 
	color: #fff; 
}
*/

.menubar ul li ul li a:link, .menubar ul li ul li a:visited 
{ 
	color: #0c1543; 
}

.menu ul li ul                             /* 1st sub level menu */
{
	display:  none;       /*collapse all sub menus to begin with*/
	position: absolute;
	left: 0;
	visibility: visible;
}


/* Dropdown Menu Styles */

.dropbtn 
{
	background-color: transparent;
	color:   #FC0;
	border:  none;
	cursor:  pointer;
	padding: 4px 10px;
	display: block;
	font-family: "Arial",sans-serif;
	font-size:   14px;
	font-weight: normal;
	text-decoration: none;
	text-transform:  uppercase;
	list-style-type: none;
}

.dropbtn:hover, .dropbtn:focus 
{
	/* background-color: #3e8e41; */
}

.dropdown 
{
	display:  inline-block;
	position: relative;
	float: left;
}

.dropdown-content 
{
	z-index: 2;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display:  none;
	position: absolute;
	min-width: 160px;
}

.dropdown-content a 
{
	color: white;
	display: block;
	text-decoration: none;
}

.dropdown-content a:hover 
{
	background-color: #f1f1f1
}

#docMenu
{
	padding: 2px !important;
	height: auto;
	width:  242px;
}

/* Sub Menu stuff not currently implemented */
/*

.menu ul li ul li 
{
	display: list-item;
	float: none;
}

.menu ul li ul li ul 
{
	top: 0;
}

.menu ul li ul li a 
{
	margin:  0;
	padding: 5px;
	width: 160px; 
	font: normal 13px Verdana;
}

.menu ul li ul li a:hover 
{
	color: #fcff00;
}

*/


/* General UI Widget Styles */

.ui-widget 
{
	font-family: Verdana,Arial,sans-serif;
	font-size:   1.1em;
}

.ui-widget .ui-widget 
{
	font-size: 1em;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button 
{
	font-family: Verdana,Arial,sans-serif;
	font-size:   12px;
}

.ui-widget-content 
{
	background: #ffffff;
	color:  #222222;
	border: 1px solid #aaaaaa;
}

.ui-widget-content a 
{
	color: #222222;
}

.ui-widget-header 
{
	background: #bbbbbb;
	color:  #222222;
	border: 1px solid #aaaaaa;
	font-weight: bold;
}

.ui-widget-header a 
{
	color: #222222;
}


/* Dialog Box Styles */

.ui-dialog 
{
	background-color: #d8d8d8;
	margin:  0px;
	padding: 0px;
	position: absolute;
	top:  0;
	left: 0;
	overflow: hidden;

	/* outline: 1px dashed red; */
	/* border: 1px solid blue;  */
}

.ui-dialog .ui-dialog-titlebar 
{
	border: 0px;
	border-top-right-radius:    0px;
	border-top-left-radius:     0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius:  0px;	
	padding: 0px;
	position: relative;
	height: 28px;
	width:  100%;
	text-align: left;
}

.ui-dialog .ui-dialog-title 
{
	margin: 0.3em 0em 0.1em 0.6em;
	position: absolute;
	float: left;
	width: 90%;
	overflow: hidden;
	font-size:   12px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.ui-dialog .ui-dialog-titlebar-close 
{
	margin:  -10px 0 0 0;
	padding: 1px;
	position: absolute;
	top:   50%;
	right: .3em;
	height: 20px;
	width:  20px;
}

.ui-dialog .ui-dialog-content 
{
	background: none;
	border:  0;
	padding: 0;
	position: relative;
	overflow: visible;
}

.ui-dialog .ui-dialog-buttonpane 
{
	background-image: none;
	border-width: 0px 0 0 0;
	margin-top: .5em;
	padding: .3em .4em .5em .4em;
	text-align: right;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset 
{
	float: right;
}

.ui-dialog .ui-dialog-buttonpane button 
{
	cursor: pointer;
	margin: .5em .4em .5em 0;
}

.ui-dialog .ui-resizable-se 
{
	background-position: 16px 16px;
	bottom: -5px;
	right:  -5px;
	height: 12px;
	width:  12px;
}

.ui-slider 
{
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle 
{
	z-index: 2;
	cursor:   default;
	position: absolute;
	height: 1.2em;
	width:  0.5em;
    
	/* -ms-touch-action: none; */
	/* touch-action: none;     */
}

.ui-slider-horizontal .ui-slider-handle 
{
	margin-left: -0.3em;
	top: -0.3em;
}

.ui-slider .ui-slider-range 
{
	z-index: 1;
	background-position: 0 0;
	border:   0px;
	display:  block;
	position: absolute;
	font-size: .7em;
}


/* Misc. Elements */

.show 
{
	background-color: #9090aa;
	color:   #000;
	margin:  0px 0px 0px 9px;
	padding: 0px 2px 0px 0px;
	display: block;
	width: 242px;
	text-align: left;
}

.hidden 
{ 
	display: none 
}
