/*-----------------------------*/
/*   Zoom/Pan Control Styles   */
/*-----------------------------*/

.panelDiv
{
	background-color: #d8d8d8;
	border:  2px solid #e0e0e0;
	border-radius: 20px;
	box-shadow: 2px 3px 2px #404040;
	margin:  6px 3px 3px 3px;
	padding: 8px;
	display: inline-block;
	float:   none;
}

.zoomDiv
{
	background-color: #bfbfbf;
	border:  0px solid green;
	margin:  2px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
	font-size:   12px;
	font-weight: bold;
}

.zoomDiv td
{
	background-color: #bfbfbf;
	border:  0px dashed yellow;
	padding: 0px;
	font-size: 12px;
}

.zoomDiv button
{
	padding: 1px 1px 0px 0px;
	height: 39px;
	width:  39px;
}

.controlPanel
{
	background-color: #bfbfbf;
	border:  0px dashed yellow;
	border-radius: 10px;
	padding: 5px;
}


